In [4]:
import FinanceDataReader as fdr
import numpy as np
import pandas as pd

In [5]:
data = fdr.DataReader("MMM", "2020-01-01", "2023-09-01")

In [6]:
data

                  Open        High         Low       Close   Volume
Date
2020-01-02  177.679993  180.009995  177.139999  154.553299  3601700
2020-01-03  177.020004  178.660004  175.630005  153.222382  2466900
2020-01-06  177.149994  178.710007  176.350006  153.368378  1998000
2020-01-07  178.279999  178.509995  176.820007  152.750183  2173000
2020-01-08  178.000000  181.500000  177.649994  155.094238  2758300
...                ...         ...         ...         ...      ...
2023-08-28  105.309998  105.650002  102.589996  104.120003  7638500
2023-08-29  104.989998  106.849998  104.879997  105.570000  5243200
2023-08-30  105.489998  105.849998  103.610001  104.449997  3273900
2023-08-31  105.940002  108.330002  105.489998  106.669998  6506100
2023-09-01  107.300003  108.300003  106.110001  106.949997  3640500

[924 rows x 5 columns]

In [9]:
    data = data.reset_index()
    data = data.dropna()

    data['Color'] = data.apply(lambda t: "red" if t['Open'] <= t['Close'] else "blue", axis=1)
    data["Bottom"] = data.apply(lambda t: t["Open"]  if t['Color'] == "red" else t["Close"], axis=1)
    data["Area"] = data.apply(lambda t: abs(np.trunc(100 * (t["Open"] - t["Close"])) / 100), axis=1)
    
    for k in ["Open", "High", "Low", "Close"]:
        data[k] = np.trunc(100 * data[k]) / 100

    

    data["Date"] = list(map(lambda d: str(d)[:-9], data["Date"]))

In [46]:
data2 = data.copy()
data2.index = pd.to_datetime(data2.Date)
data2["year"] = data2.index.year
data2["month"] = data2.index.month
data2["week"] = data2.index.strftime("%V")
data2 = data2.drop("level_0", axis=1)
print(data2)

            index        Date    Open    High     Low   Close   Volume Color  \
Date
2020-01-02      0  2020-01-02  177.67  180.00  177.13  154.55  3601700  blue
2020-01-03      1  2020-01-03  177.02  178.66  175.63  153.22  2466900  blue
2020-01-06      2  2020-01-06  177.14  178.71  176.35  153.36  1998000  blue
2020-01-07      3  2020-01-07  178.27  178.50  176.82  152.75  2173000  blue
2020-01-08      4  2020-01-08  178.00  181.50  177.64  155.09  2758300  blue
...           ...         ...     ...     ...     ...     ...      ...   ...
2023-08-28    919  2023-08-28  105.30  105.65  102.58  104.12  7638500  blue
2023-08-29    920  2023-08-29  104.98  106.84  104.87  105.57  5243200   red
2023-08-30    921  2023-08-30  105.48  105.84  103.61  104.44  3273900  blue
2023-08-31    922  2023-08-31  105.94  108.33  105.48  106.66  6506100   red
2023-09-01    923  2023-09-01  107.30  108.30  106.11  106.94  3640500  blue

            Bottom   Area  year  month week
Date
2020-01-02  154.55  23.11  2020      1   01
2020-01-03  153.22  23.80  2020      1   01
2020-01-06  153.36  23.77  2020      1   02
2020-01-07  152.75  25.52  2020      1   02
2020-01-08  155.09  22.90  2020      1   02
...            ...    ...   ...    ...  ...
2023-08-28  104.12   1.17  2023      8   35
2023-08-29  104.98   0.58  2023      8   35
2023-08-30  104.44   1.04  2023      8   35
2023-08-31  105.94   0.71  2023      8   35
2023-09-01  106.94   0.35  2023      9   35

[924 rows x 13 columns]

In [47]:
data3 = data2.copy()
years = data3.drop_duplicates(["year"], keep="last").index #year

months = data3.drop_duplicates(["year", "month"], keep="last").index #month

weeks = data3.drop_duplicates(["year", "month", "week"], keep="last").index #week

# quarter
quarter = [3, 6, 9, 12]
data3 = data3.loc[data3["month"].isin(quarter)]
quarters = data3.drop_duplicates(["year", "month"], keep="last").index

print(years)
print(months)
print(weeks)
print(quarters)

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-30', '2023-09-01'], dtype='datetime64[ns]', name='Date', freq=None)
DatetimeIndex(['2020-01-31', '2020-02-28', '2020-03-31', '2020-04-30',
               '2020-05-29', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-30', '2020-11-30', '2020-12-31',
               '2021-01-29', '2021-02-26', '2021-03-31', '2021-04-30',
               '2021-05-28', '2021-06-30', '2021-07-30', '2021-08-31',
               '2021-09-30', '2021-10-29', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-29',
               '2022-05-31', '2022-06-30', '2022-07-29', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-30',
               '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-28',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-01'],
              dtype='datetime64[ns]', name='Date', freq=None)
DatetimeIndex(['2020-01-03', '2020-01-10', '2020-01-17', '2020-01-24',
               '2020-01-31', '2020-02-07', '2020-02-14', '2020-02-21',
               '2020-02-28', '2020-03-06',
               ...
               '2023-07-14', '2023-07-21', '2023-07-28', '2023-07-31',
               '2023-08-04', '2023-08-11', '2023-08-18', '2023-08-25',
               '2023-08-31', '2023-09-01'],
              dtype='datetime64[ns]', name='Date', length=216, freq=None)
DatetimeIndex(['2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31',
               '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31',
               '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-30',
               '2023-03-31', '2023-06-30', '2023-09-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [61]:
data4 = data2.copy()[weeks[1]:weeks[2]]
print(data4)
print("OPEN: ", data4["Open"].iloc[0])
print("MAX: ", max(data4["High"]))
print("MIN: ", min(data4["Low"]))
print("CLOSE: ", data4["Close"].iloc[-1])
print("VOL: ", sum(data4["Volume"]))
print("COLOR: ", "blue" if data4["Open"].iloc[0] > data4["Close"].iloc[-1] else "red")

            index        Date    Open    High     Low   Close   Volume Color  \
Date
2020-01-10      6  2020-01-10  181.61  182.17  180.13  154.94  2103800  blue
2020-01-13      7  2020-01-13  180.94  182.22  180.36  155.34  2090800  blue
2020-01-14      8  2020-01-14  180.91  182.55  180.21  155.72  2911200  blue
2020-01-15      9  2020-01-15  181.41  181.86  179.17  154.36  2482200  blue
2020-01-16     10  2020-01-16  180.67  181.19  179.69  155.41  2149900  blue
2020-01-17     11  2020-01-17  181.00  182.14  180.69  155.71  3690100  blue

            Bottom   Area  year  month week
Date
2020-01-10  154.94  26.67  2020      1   02
2020-01-13  155.34  25.59  2020      1   03
2020-01-14  155.72  25.19  2020      1   03
2020-01-15  154.36  27.04  2020      1   03
2020-01-16  155.41  25.25  2020      1   03
2020-01-17  155.71  25.28  2020      1   03
OPEN:  181.61
MAX:  182.55
MIN:  179.17
CLOSE:  155.71
VOL:  15428000
COLOR:  blue

In [62]:
a = [1, 2, 3]
a[:-1]

[1, 2]