In [4]:
import FinanceDataReader as fdr
import numpy as np
import pandas as pd

In [5]:
data = fdr.DataReader("MMM", "2020-01-01", "2023-09-01")

In [6]:
data

                  Open        High         Low       Close   Volume
Date
2020-01-02  177.679993  180.009995  177.139999  154.553299  3601700
2020-01-03  177.020004  178.660004  175.630005  153.222382  2466900
2020-01-06  177.149994  178.710007  176.350006  153.368378  1998000
2020-01-07  178.279999  178.509995  176.820007  152.750183  2173000
2020-01-08  178.000000  181.500000  177.649994  155.094238  2758300
...                ...         ...         ...         ...      ...
2023-08-28  105.309998  105.650002  102.589996  104.120003  7638500
2023-08-29  104.989998  106.849998  104.879997  105.570000  5243200
2023-08-30  105.489998  105.849998  103.610001  104.449997  3273900
2023-08-31  105.940002  108.330002  105.489998  106.669998  6506100
2023-09-01  107.300003  108.300003  106.110001  106.949997  3640500

[924 rows x 5 columns]

In [9]:
    data = data.reset_index()
    data = data.dropna()

    data['Color'] = data.apply(lambda t: "red" if t['Open'] <= t['Close'] else "blue", axis=1)
    data["Bottom"] = data.apply(lambda t: t["Open"]  if t['Color'] == "red" else t["Close"], axis=1)
    data["Area"] = data.apply(lambda t: abs(np.trunc(100 * (t["Open"] - t["Close"])) / 100), axis=1)
    
    for k in ["Open", "High", "Low", "Close"]:
        data[k] = np.trunc(100 * data[k]) / 100

    

    data["Date"] = list(map(lambda d: str(d)[:-9], data["Date"]))

In [26]:
data2 = data.copy()
data2.index = pd.to_datetime(data2.Date)
data2["year"] = data2.index.year
data2["month"] = data2.index.month
data2["week"] = data2.index.strftime("%V")
data2 = data2.drop("level_0", axis=1)
data2

,index,Date,Open,High,Low,Close,Volume,Color,Bottom,Area,year,month,week
Date,,,,,,,,,,,,,
2020-01-02,0,2020-01-02,177.67,180.00,177.13,154.55,3601700,blue,154.55,23.11,2020,1,01
2020-01-03,1,2020-01-03,177.02,178.66,175.63,153.22,2466900,blue,153.22,23.80,2020,1,01
2020-01-06,2,2020-01-06,177.14,178.71,176.35,153.36,1998000,blue,153.36,23.77,2020,1,02
2020-01-07,3,2020-01-07,178.27,178.50,176.82,152.75,2173000,blue,152.75,25.52,2020,1,02
2020-01-08,4,2020-01-08,178.00,181.50,177.64,155.09,2758300,blue,155.09,22.90,2020,1,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-28,919,2023-08-28,105.30,105.65,102.58,104.12,7638500,blue,104.12,1.17,2023,8,35
2023-08-29,920,2023-08-29,104.98,106.84,104.87,105.57,5243200,red,104.98,0.58,2023,8,35
2023-08-30,921,2023-08-30,105.48,105.84,103.61,104.44,3273900,blue,104.44,1.04,2023,8,35
2023-08-31,922,2023-08-31,105.94,108.33,105.48,106.66,6506100,red,105.94,0.71,2023,8,35
2023-09-01,923,2023-09-01,107.30,108.30,106.11,106.94,3640500,blue,106.94,0.35,2023,9,35

In [19]:
data2

,level_0,index,Date,Open,High,Low,Close,Volume,Color,Bottom,Area,year,month
Date,,,,,,,,,,,,,
2020-01-02,0,0,2020-01-02,177.67,180.00,177.13,154.55,3601700,blue,154.55,23.11,2020,1
2020-01-03,1,1,2020-01-03,177.02,178.66,175.63,153.22,2466900,blue,153.22,23.80,2020,1
2020-01-06,2,2,2020-01-06,177.14,178.71,176.35,153.36,1998000,blue,153.36,23.77,2020,1
2020-01-07,3,3,2020-01-07,178.27,178.50,176.82,152.75,2173000,blue,152.75,25.52,2020,1
2020-01-08,4,4,2020-01-08,178.00,181.50,177.64,155.09,2758300,blue,155.09,22.90,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-28,919,919,2023-08-28,105.30,105.65,102.58,104.12,7638500,blue,104.12,1.17,2023,8
2023-08-29,920,920,2023-08-29,104.98,106.84,104.87,105.57,5243200,red,104.98,0.58,2023,8
2023-08-30,921,921,2023-08-30,105.48,105.84,103.61,104.44,3273900,blue,104.44,1.04,2023,8
2023-08-31,922,922,2023-08-31,105.94,108.33,105.48,106.66,6506100,red,105.94,0.71,2023,8
2023-09-01,923,923,2023-09-01,107.30,108.30,106.11,106.94,3640500,blue,106.94,0.35,2023,9